header {
    background: #BBBBBB;
    padding: 20px 0;
    }
    .caixa {
    position: relative;
    width: 940px; /* largura fixa */
    margin: 0 auto;
    }
    nav {
    position: absolute;
    top: 110px;
    right: 450px;
    }
    nav li {
    display: inline;/* deixa os links na mesma linha */
    margin: 0 0 0 15px;/* Aumenta o espaço entre as palavras(links) */
    }
    nav a {
    text-transform: uppercase;/* Transforma o texto em maiúsculo */
    color: #000000;
    font-weight: bold;/* deixa o texto em negritro */
    font-size: 22px;/* Muda o tamanho da fonte */
    text-decoration: none;/* Tira o sublinhado dos links */
    }


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.produto h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 110px;
}